{% extends 'basic.html' %} {% block body %}
<div>

    <br><br><br>
</div>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">About this startup</h1>
        <br>
        <p style="font-size: 20px;" align="justify">
            Interactive lesson plans are visual, graphical and concise presentation of each unit making the learning process simple and interesting. Each concept is explained, starting from basic to advance level, to help the student grasp the topic naturally and
            gradually. These are also acknowledged as effective teaching aids that help the teacher to plan his/her lessons in a better way by unfolding the chapter gradually.
            <br><br><br> This startup is mainly focused for the betterment of the students who are not able to afford high education as i have felt the same when i was preparing for the competitive exam i.e. "JEE MAIN". So, i decided to launch this startup
            dedicated towards the students who are dedicated towards their goals. I want to convey a message to all my students that, if you feel lack of guidance or directionless while preparing for exams, feel free to contact me. As I am always available
            to the needy students. I am here to provide all the materials related to mathematics for preparation. But, as we all know that great things take time to build.
        </p>
    </div>
</div>

{% endblock %}