{% extends 'basic.html' %} {% block body %} {% load static %}



<div style="background-color: ivory;">
<div class="container" style=" padding: 25px; margin-top:80px">
    <div class="row">
        {% for i in materials %}
        <div class="card" style="width: 18rem; margin:8px">
            <div class="card-body">
                <h5 class="card-title">{{i.main_heading}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{i.sub_heading}}</h6>
                <a href="{{i.first_link}}" class="card-link">{{i.link_specifier_1}}</a>
                <a href="{{i.second_link}}" class="card-link">{{i.link_specifier_2}}</a>
            </div>
        </div>
        <hr>
        {% endfor %}

    </div>
</div>
</div>


{% endblock %}